.hesaplarContainer {
  height: 92vh;
  width: 100%;
}
.hesaplarContainer .hesapForm {
  margin-left: 20%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 2px dashed #fae57f;
}
