.genelBakis {
  height: auto;
  min-height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;

  background-color: #fff9c4;
}
.genelBakis h2 {
  color: aqua;
}
.genelBakis div {
  color: #000000;
}

.genelBakis .pozitif {
  color: green;
}
.genelBakis .duyuruBasligi {
  margin: 10px;
  width: 20%;
  border-width: 2px;
  background-color: #ffffff;
}
.genelBakis .duyuruIcerigi {
  margin: 10px;
  margin-bottom: 0px;
  width: 60%;
  border-width: 2px;
  background-color: #ffffff;
}

.genelBakis .duyuruButonu {
  margin: 5px;
  background: #ffdc33;
  color: black;
}
.genelBakis .duyuruButonu:hover {
  color: #000000;
  background-color: #ffdc33;
}
.genelBakis .duyuruContainer {
  background-color: #fff9c4;
}
.genelBakis .vitrin {
  margin: 10px;
  height: 160px;
  width: 600px;
  background: #ffd500;
}
