.genelBakis {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;

  background-color: white;
}
.genelBakis h2 {
  color: aqua;
}
.genelBakis div {
  color: #000000;
}

.genelBakis .pozitif {
  color: green;
}
.genelBakis .negatif {
  color: rgb(255, 86, 86);
}
.negatif:hover {
  cursor: none;
  color: red;
  text-shadow: 5px 5px 30px;
}
.genelBakis .duyuruBasligi {
  margin: 10px;
  width: 20%;
  border-width: 2px;
  background-color: #ffffff;
}
.genelBakis .duyuruIcerigi {
  margin: 10px;
  margin-bottom: 0px;
  width: 60%;
  border-width: 2px;
  background-color: #ffffff;
}

.genelBakis .duyuruButonu {
  margin: 5px;
}

.genelBakis .duyuruContainer {
  background-color: #ffffff;
}
