.aidatTablo {
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
  width: 100%;
  max-width: 90%;

  margin: 0 auto;
}

.aidatTablo h3 {
  flex-basis: calc(15% - 1px);
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.aidatTablo h3:first-child {
  flex-basis: calc(25% - 1px);
  text-align: center;
}

.aidatTablo h3:last-child {
  flex-basis: calc(16% - 1px);
  text-align: center;
}

.aidatTablo h3:nth-child(odd) {
  background-color: #ddd;
}

.aidatTablo h3:hover {
  background-color: #e6e6e6;
}

.aidatTablo h3:not(:first-child) {
  border-left: 1px solid #c60d0d;
}

.aidatTablo h3:first-child {
  border-left: 1px solid #c60d0d;
}

.aidatTablo h3:last-child {
  border-right: 1px solid #c60d0d;
}

.aidatTablo h3:nth-child(5) {
  text-align: center;
}

.aidatTablo h3:nth-child(n + 6) {
  text-align: center;
}

/* Basliklar CSS */

.basliklar {
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
  width: 100%;
  max-width: 90%;
  color: blue;
  margin: 0 auto;
}

.basliklar h3 {
  flex-basis: calc(15% - 1px);
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  border: 2px solid red;
}

.basliklar h3:first-child {
  flex-basis: calc(25% - 1px);
  text-align: center;
}

.basliklar h3:last-child {
  flex-basis: calc(16% - 1px);
  text-align: center;
}

.basliklar h3:nth-child(odd) {
  background-color: #ddd;
}

.basliklar h3:hover {
  background-color: #e6e6e6;
}

.basliklar h3:not(:first-child) {
  border-left: 1px solid #c60d0d;
}

.basliklar h3:first-child {
  border-left: 1px solid #c60d0d;
}

.basliklar h3:last-child {
  border-right: 1px solid #c60d0d;
}

.basliklar h3:nth-child(5) {
  text-align: center;
}

.basliklar h3:nth-child(n + 6) {
  text-align: center;
}
