li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  /* color: darkgray; */
}
link {
  cursor: pointer;
  text-decoration: none;
  color: darkgray;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #ffdc33;
  z-index: 1;
  /* background: #1a044f; */
}
.nav-brand {
  text-transform: uppercase;
  font-weight: bold;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  z-index: 2;
}
.nav-toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: darkgray;
  transition: 0.4s ease-in;
}
.nav-toggler {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
  }
  .nav-menu {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 30%;
    height: 92vh;
    background: #fae57f;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 2;
  }
}

/*  Nav Active Class  */
.nav-active {
  transform: translateX(0);
}

/* Toggler Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
